<html>

<head>
    <title>Title</title>
    <link rel="stylesheet" href="./stylesheets/style.css" />
    <link rel="stylesheet" href="./stylesheets/mystyle.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="./scripts/menu.js"></script>
</head>

<body>
    <div class="flex h-screen bg-gray-200 font-roboto">
        <%- include ('sidebar.ejs') %>
        <div class="flex-1 flex flex-col overflow-hidden">
            <%- include ('header.ejs') %>
            <!-- <div style="box-shadow: 0 6px 50px -18px rgba(0,0,0,.81)"></div> -->
            <main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-200">
                <div class="mx-auto px-4 py-4">
                    <div class="max-w-sm w-full lg:max-w-full lg:flex bg-white">
                        <%- body%>
                    </div>                    
                </div>
            </main>
        </div>
    </div>
</body>

</html>