<html>

<head>
    <title>Title</title>
    <link rel="stylesheet" href="./stylesheets/style.css" />
    <link rel="stylesheet" href="./stylesheets/mystyle.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="./scripts/menu.js"></script>
</head>

<body>
    <div class="flex h-screen">
        <div class="bg-sitebar-900">
            <%- include ('sidebar.ejs') %>
        </div>
        <div class="w-screen">
            <%- include ('header.ejs') %>
            <main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-200 mt-4">
                <div class="mx-auto px-4">
                    <div class="flex w-full bg-white">
                        <%- body%>
                    </div>                    
                </div>
            </main>
        </div>
    </div>
</body>

</html>

<%- include ('confirm.ejs') %>