<!--Modal-->
<style>
    .modal {
        transition: opacity 0.25s ease;
    }

    body.modal-active {
        overflow-x: hidden;
        overflow-y: visible !important;
    }
</style>
<div class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center">
    <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>

    <div class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">
        <!-- Add margin if you want to see some of the overlay behind the modal-->
        <div class="modal-content py-4 text-left">
            <!--Title-->
            <div class="flex justify-between items-center pb-3 border-b border-gray-300">
                <p class="text-xl px-6">Book</p>
                <div class="modal-close cursor-pointer z-50 px-6">
                    <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                        viewBox="0 0 18 18">
                        <path
                            d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z">
                        </path>
                    </svg>
                </div>
            </div>
            <!--Body-->
            <div class="px-6 py-4">
                <div id="dmess" class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 mb-2 hidden" role="alert">
                    <p id="message_error"></p>
                </div>
                <div class="md:flex md:items-center mb-6">
                    <div class="md:w-1/5">
                        <label class="block sm:text-sm md:text-right mb-1 md:mb-0 pr-4" for="book_title">
                            Title<span class="text-red-900">*</span>
                        </label>
                    </div>
                    <div class="md:w-4/5">
                        <input
                            class="transition duration-500 appearance-none block w-full bg-white-200 sm:text-sm border border-gray-400 rounded py-2 px-4 leading-tight focus:outline-none focus:bg-white focus:border-teal-500 focus:shadow-inner hover:border-teal-500"
                            id="book_title" name="book_title" type="text">
                    </div>
                </div>
                <div class="md:flex md:items-center mb-6">
                    <div class="md:w-1/5">
                        <label class="block sm:text-sm md:text-right mb-1 md:mb-0 pr-4" for="book_author">
                            Author
                        </label>
                    </div>
                    <div class="md:w-4/5">
                        <input
                            class="transition duration-500 appearance-none block w-full bg-white-200 sm:text-sm border border-gray-400 rounded py-2 px-4 leading-tight focus:outline-none focus:bg-white focus:border-teal-500 focus:shadow-inner hover:border-teal-500"
                            id="book_author" name="book_author" type="text">
                    </div>
                </div>
                <div class="md:flex md:items-center mb-6">
                    <div class="md:w-1/5">
                        <label class="block sm:text-sm md:text-right mb-1 md:mb-0 pr-4" for="book_summary">
                            Summary
                        </label>
                    </div>
                    <div class="md:w-4/5">
                        <input
                            class="transition duration-500 appearance-none block w-full bg-white-200 sm:text-sm border border-gray-400 rounded py-2 px-4 leading-tight focus:outline-none focus:bg-white focus:border-teal-500 focus:shadow-inner hover:border-teal-500"
                            id="book_summary" name="book_summary" type="text">
                    </div>
                </div>
                <div class="md:flex md:items-center mb-6">
                    <div class="md:w-1/5">
                        <label class="block sm:text-sm md:text-right mb-1 md:mb-0 pr-4" for="book_genre">
                            Genre
                        </label>
                    </div>
                    <div class="md:w-4/5">
                        <select id="book_genre" name="book_genre"
                            class="transition duration-500 mt-1 block form-select w-full py-2 px-3 border border-gray-400 bg-white rounded-md shadow-sm focus:outline-none focus:shadow-outline-blue focus:border-teal-500 transition duration-150 ease-in-out sm:text-sm sm:leading-5 hover:border-teal-500">
                            <option>Truyện ngắn</option>
                            <option>Truyện dài</option>
                            <option>Lịch sử</option>
                            <option>Thần thoại</option>
                            <option>Kiếm hiệp</option>
                            <option>Hài hước</option>
                            <option>Khoa học</option>
                            <option>Trinh thám</option>
                            <option>Kinh tế</option>
                            <option>Y học</option>
                            <option>Tình cảm, lãng mạn</option>
                            <option>Sức khỏe</option>
                        </select>
                    </div>
                </div>

            </div>

            <!--Footer-->
            <div class="flex justify-end pt-2 border-t border-gray-300">
                <button
                    class="modal-open hover:border-teal-300 text-gray-600 hover:text-teal-600 py-1 px-4 mt-2 mr-2 border border-gray-300 rounded-md focus:outline-none focus:shadow-outline focus:border-blue-300">Close</button>
                <button
                    class="py-1 px-4 mt-2 text-center float-right bg-teal-600 rounded-md text-white text-sm hover:bg-teal-500 focus:outline-none focus:shadow-outline focus:border-blue-300 mr-2"
                    id="btnSave">Save</button>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="book_id">
<script>
    // edit book
    var editmodal = document.querySelectorAll('.btnedit')
    for (var i = 0; i < editmodal.length; i++) {
        editmodal[i].addEventListener('click', function (event) {
            event.preventDefault()
            var bookid = $(this).data('id');
            console.log(bookid);
            toggleModal(bookid)
        })
    }

    // add book
    var openmodal = document.querySelectorAll('.modal-open')
    for (var i = 0; i < openmodal.length; i++) {
        openmodal[i].addEventListener('click', function (event) {
            event.preventDefault()
            toggleModal(null)
        })
    }

    var closemodal = document.querySelectorAll('.modal-close')
    for (var i = 0; i < closemodal.length; i++) {
        closemodal[i].addEventListener('click', toggleModal)
    }

    document.onkeydown = function (evt) {
        evt = evt || window.event
        var isEscape = false
        if ("key" in evt) {
        } else {
            isEscape = (evt.keyCode === 27)
        }
        if (isEscape && document.body.classList.contains('modal-active')) {
            toggleModal(null)
        }
    };


    function toggleModal(bookid) {
        if (bookid != null) {
            $('#dmess').hide();
            $.ajax({
                type: 'GET',
                contentType: 'application/json',
                url: '/book/get?id=' + bookid,
                success: function (res) {
                    if (res.type == "success" && res.data.length > 0) {
                        $('#book_id').val(res.data[0]._id);
                        $('#book_title').val(res.data[0].title);
                        $('#book_author').val(res.data[0].author);
                        $('#book_summary').val(res.data[0].summary);
                        $('#book_message').val(res.data[0].message);
                        $('#book_genre').val(res.data[0].genre);
                    } else {
                        $('#dmess').show();
                        $('#message_error').html('Cant get data');
                    }

                }
            });
        } else {
            // clear data
            $('#dmess').hide();
            $('#book_id').val('');
            $('#book_title').val('');
            $('#book_author').val('');
            $('#book_summary').val('');
            $('#book_message').val('');
            $('#book_genre').val('Truyện ngắn');
        }

        const body = document.querySelector('body')
        const modal = document.querySelector('.modal')
        modal.classList.toggle('opacity-0')
        modal.classList.toggle('pointer-events-none')
        body.classList.toggle('modal-active')
    }

    $(function () {
        $('#btnSave').click(function (e) {
            e.preventDefault();

            var data = {};
            data.id = $('#book_id').val();
            data.title = $('#book_title').val();
            data.author = $('#book_author').val();
            data.summary = $('#book_summary').val();
            data.message = $('#book_message').val();
            data.genre = $('#book_genre').val();

            if (data.id == null || data.id == '') {
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    url: '/book/add',
                    success: function (res) {
                        if (res.type == "success") {
                            toggleModal();
                            $('#btnSearch').trigger('click');
                        } else {
                            $('#dmess').show();
                            $('#message_error').html(res.description);
                        }
                    }
                });
            } else {
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    url: '/book/update',
                    success: function (res) {
                        if (res.type == "success") {
                            toggleModal();
                            $('#btnSearch').trigger('click');
                        } else {
                            $('#dmess').show();
                            $('#message_error').html(res.description);
                        }
                    }
                });
            }
        });
    });
</script>